@tailwind base;
@tailwind components;
@tailwind utilities;

*, *::before, *::after {
  box-sizing: border-box;
}

html, body, #root {
  background: #0C0C0C;
  font-family: 'Plus Jakarta Sans', sans-serif;
}

body {
  margin: 0;
}
